# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/ex00/Reflection-folder/target/
src/ex00/Reflection-folder/.idea/
src/ex01/Annotations-folder/.idea/
ex01/Annotations-folder/.idea/
.DS_Store
src/ex02/ORM-folder/.idea/
src/ex02/ORM-folder/src/main/java/edu/school21/models/README.md
src/ex02/ORM-folder/target/